



.icon{
    display: flex;
  }
  
  .container-main{
      margin:30px ;
      display: inline;
      flex-direction: row;
  }
  mat-card.card{
      height:500px ;
      width:630px;
      border: 0.3px solid #DEE2E6;
  }
  
  img{
      max-width: 450px;
      max-height: 450px;
  }
  
  .container-information{
     display: flex;
  }
  
  mat-card-title {
      display: flex;
      justify-content: start;
      margin-left: 2rem;
  }
  
  .icon{
      margin-left: 1.5rem;
  }
  
  span{
      display: flex;
      margin: 1.2rem;
  gap: 9px;
  }
  
  
  .category{
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 18px;
  }
  
  .category>p{
      font-weight: bold;
      font-size: 18px;
  }
  .badge{
      width: 7.5rem;
      
  }
  
  .container-gadget{
  display: flex;
  }
  
  .action-buy{
      display: flex;
      justify-content: center;
      gap: 12px;
  }
  button{
      border: none;
      background-color: none;
  }
  
  .form-control{
      width: 7rem;
  }
  
  input[value]{
      text-align: center;
  }

  .container-img{
    text-align: center;
  }
@media screen and (max-width:574px )  {
    mat-card.card{
        width: 100%;
    }

    
}
  