<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
<div class="container">
  <h1 *ngIf="products.length === 0; else show" class="mt-5">
    Your Shopping Cart is Empty
  </h1>
  <hr />

  <ng-template #show>
    <h1 class="mt-5">Shopping Cart</h1>
  </ng-template>

  <div id="container-flex" class="row container" *ngFor="let product of products">
    <div id="description-responsive" class="col-12 col-md-12 col-sm-12 col-lg-12 mt-5 container-img d-flex">
      <img src="{{ product.image }}" class="img-fluid" />
      <div class="col-lg-6 col-md-6">
        <mat-card-title class="mt-4">
          <p>{{ product.title }}</p>
          <br />
        </mat-card-title>
        <div class="justify-content-start icon">
          <mat-icon *ngFor="let product of paintStars(product.rating[indice])">star</mat-icon>
        </div>
        <span>
          {{ product.description }}
        </span>

        <span class="price">
          {{ product.price * product.qty | currency }}
        </span>
      </div>

      <div id="botons-responsive"
        class="col-lg-3 d-flex align-content-center justify-content-center align-items-center flex-wrap">
        <button class="btn btn-yellow" (click)="deleteQty(product)">-</button>
        <span style="font-size: 15px">
          Quantity <b>{{ product.qty }}</b></span>
        <button class="btn btn-yellow" (click)="addQty(product)">+</button>
        <br />
        <button type="submit" (click)="deleteProduct(product)" class="btn btn-yellow remove">
          Remove To Cart
        </button>

        <!-- <div class="col-3 col-lg-3 d-flex flex-column justify-content-center align-items-center">
        <button class=" btn btn-yellow text-dark mb-4" (click)="addQty(product)" >+</button>
        <button (click)="deleteQty(product)" class=" btn btn-yellow">-</button>
       

      
    </div>

      <div class=" col-12 col-sm-12 col-lg-8 mt-4">
      <mat-card class="card">
        <mat-card-title class="mt-4">
          <p>{{ product.title}}</p>
        </mat-card-title>
        <mat-card-content>
          <div class="icon">
            <mat-icon *ngFor="let product of paintStars(product.rating[0])"
              >star</mat-icon
            >
          </div>
          <span class="category"
            >Categoria
            <p>{{ product.category }}</p></span
          >
         <p class="descripcion"> {{ product.description }} </p>
         <h2 class="price" > {{product.price |currency}}</h2>

          <div class="container-gadget">
            <span class="badge bg-success">In stock</span>
            <span class="badge bg-secondary"
              >Quedan {{ product.rating[1] }} Unidades</span
            >

            
          </div>
          
          <p class="text-center">Quantity</p> 
          <div class="action-buy">
            <button class="btn btn-danger" (click)="decrement()">-</button>    <input  style="text-align: center;" type="text "[value]="product.qty" class="form-control" max="product.rating[1]"  ><button class="btn btn-primary"  (click)="increment()">+</button>
          

        </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-center m-4" >
           
       

           
        <button mat-raised-button color="primary" (click)="buyCart(product)"><mat-icon >add_shopping_cart</mat-icon>      Comprar</button>
        </mat-card-actions>
        
      </mat-card>
    </div>
  </div>
</div> -->
      </div>
    </div>
    
  </div>
  <div class="container d-flex justify-content-center" *ngIf="products.length !== 0">
    <button type="submit" (click)="finishShoppingCard()" class="btn btn-yellow mb-5">
      Realizar compra
    </button>
  </div>
  
</div>