section.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.title{
    font-size: 12px;
}
.card{
    margin: 30px;
   width: 300px;
  height: 300px;
  border-radius: 8px;


}
img{
    text-align: center;
    max-width:140px ;
    max-height: 140px;
    width: 110px;
    height: 110px;
  margin: 15px;
}

.container-img{
    display: flex;
   width: 15em;
justify-content: center;
}

.price{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
}

.card:hover{
   transform:scale(1.075) ;
    transition: all 0.4s ease;
}

.container-button{

justify-content: center;
}


mat-icon{
min-width: 100px;
    margin-top: 5px;

}

mat-icon:hover{
color:yellow;

}


.star{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80px;

}