
<mat-card class="card ">
    <mat-card-header>
    
      <mat-card-title>
        <div class="container-img img-fluid">
          <div class="star">
            <mat-icon
              class="star"
              *ngFor="let stairs of paintStars(product.rating.rate)"
            >
              star
            </mat-icon>
          </div>
          <img [src]="product.image" alt="" />
         <span class="category">{{product.category}}</span> 
        </div>
        
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <a [routerLink]="['/products/description', product.id]" class="text-center">
        {{ product.title}}
      </a>
    </mat-card-content>
    <mat-card-actions class="container-button">
      <button
        mat-raised-button
        color="primary"
        (click)="addCartToClick(product)"
      >
        {{ product.price | currency }}
      </button>
    </mat-card-actions>
    

  </mat-card>


  
  